<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - My ASP.NET Application</title>
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script> <!-- Aggiungi Chart.js qui -->
</head>
<body>
    <header>
        <!-- Contenuto dell'intestazione -->
    </header>
    <div class="container">
        @RenderBody()
    </div>
    <footer>
        <!-- Contenuto del piè di pagina -->
    </footer>
    <script src="~/js/site.js"></script>
</body>
</html>
